body {
background-co: #636363;
}

h3 {
    color: mintcream;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


div {
    border: dashed 1px darkcyan;
}

button {
    color: orangered;
}

h1 {
    color: orangered;
    font-family: sans-serif
}